
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Dodaj Pracownika</title>
	<meta charset="UTF-8"/>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			<a class="navbar-brand mr-5" href="/home">Przychodnia</a>
				<div class="collapse navbar-collapse" id="mainmenu">
					<ul class="navbar-nav mr-auto">		
							<li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
								<a class="nav-link" href="/patient/add">Dodaj Pacjenta</a>
							</li>		
							 <li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
							 	<a class="nav-link" href="/patient">Pacjent</a>
						 	</li>	
							<li sec:authorize = "hasRole('ADMIN')" class="nav-item">
								<a class="nav-link" href="/user/add">Pracownik</a>
							</li>						
							<li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
								<a class="nav-link" href="/user/doctors">Grafik</a>
							</li>
						<li class="nav-item">
							<a class="nav-link"  th:href="@{/logout}">Wyloguj</a>
						</li>
					</ul>
				</div>					
			</nav>
	</header>
	<section>
	    <div class="container-fluid">
	        <div class="row">
	            <main role="main" class="col-12 ml-sm-auto px-md-4">
					<div>				
						<form action="#" th:action="@{/user/add}" th:object="${users}"  method="post">	
							<div>
								Login
								<input type="text" th:field = "*{username}" class="form-control mb-4 col-4" />
								<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
											<span th:text="${registrationError}"></span>
								</div>
							</div>
							<div>
								Hasło	
								<input type="text" th:field = "*{password}" class="form-control mb-4 col-4"/>
								<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							</div>
							<div>				
								Imię Pracownika
								<input type="text" th:field = "*{name}" class="form-control mb-4 col-4"/>
								<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							</div>
							<div>
								Nazwisko Pracownika
								<input type="text" th:field = "*{surname}" class="form-control mb-4 col-4"/>
								<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							</div>
							<div>
								Rola
								<select th:field = "*{roles}">
									<option th:each = "tmprole : ${role}" 
									 	th:value = "${tmprole.id}" th:utext = "${tmprole.name}"></option>
								</select>
							</div>
							<br>
							<input type = "submit" value = "Zapisz" class="btn btn-info col-2"/>															
						</form>			
					</div>	
				</main>
			</div>
		</div>
	</section>		
</body>
</html>