
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Dodaj Pacjenta</title>
	<meta charset="UTF-8"/>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			<a class="navbar-brand mr-5" href="/home">Przychodnia</a>
				<div class="collapse navbar-collapse" id="mainmenu">
					<ul class="navbar-nav mr-auto">		
							<li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
								<a class="nav-link" href="/patient/add">Dodaj Pacjenta</a>
							</li>		
							 <li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
							 	<a class="nav-link" href="/patient">Pacjent</a>
						 	</li>	
							<li sec:authorize = "hasRole('ADMIN')" class="nav-item">
								<a class="nav-link" href="/user/add">Pracownik</a>
							</li>						
							<li sec:authorize = "hasAnyRole('ADMIN','RECEPTION')" class="nav-item">
								<a class="nav-link" href="/user/doctors">Grafik</a>
							</li>
						<li class="nav-item">
							<a class="nav-link"  th:href="@{/logout}">Wyloguj</a>
						</li>
					</ul>
				</div>					
			</nav>
	</header>
	<section>
	    <div class="container-fluid">
	        <div class="row">
	            <main role="main" class="col-12 ml-sm-auto px-md-4">
					<div>				
						<form action="#" th:action="@{/patient/add}" th:object="${patient}" method="post">											
							Imię Pacjenta
							<input type="text" th:field = "*{name}" class="form-control mb-4 col-4"/>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							Nazwisko Pacjenta
							<input type="text" th:field = "*{surname}" class="form-control mb-4 col-4"/>
							<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							Miasto
							<input type="text" th:field = "*{city}" class="form-control mb-4 col-4"/>
							<div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							Ulica
							<input type="text" th:field = "*{street}" class="form-control mb-4 col-4"/>
							<div th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							Nr Domu
							<input type="text" th:field = "*{streetNumber}" class="form-control mb-4 col-4" maxlength="4"/>
							<div th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							Pesel
							<input type="text" th:field = "*{pesel}" class="form-control mb-4 col-4" maxlength="11" />
							<div th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
							<input type = "submit" value = "Zapisz" class="btn btn-info col-2"/>															
						</form>			
					</div>
				</main>
			</div>
		</div>
	</section>		
</body>
</html>