<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>

<html lang="pl">
<head>
    <meta charset="utf-8">
    

    <title>Przychodnia </title>
</head>
<body>
<header>
    <nav >
        <a  href="/home">Przychodnia</a>
        <div >
            <ul >
            	<sec:authorize access="hasAnyRole('ADMIN','RECEPTION')">
	                <li class="nav-item active">
	                    <a class="nav-link" href="/patient/add">Dodaj Nowego Pacjenta<span class="sr-only">(current)</span></a>
	                </li>
	                </sec:authorize>
               	<sec:authorize access="hasAnyRole('ADMIN')">
	                <li class="nav-item">
	                    <a class="nav-link" href="/user/add-user">Dodaj Pracownika<span class="sr-only">(current)</span></a>
	                </li> 
                </sec:authorize>               
                <li class="nav-item">
                    <a class="nav-link" href="/patient">Pacjent<span class="sr-only">(current)</span></a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link" href="/user/doctors">Plan Lekarza<span class="sr-only">(current)</span></a>
                </li>                
            </ul>
        </div>
    </nav>
</header>
<section>
	<div class = "main">
		<table>
    		<thead >
		    	<tr>
		    		<th>Wizyta Nr</th>		    		
		        	<th>Imię Pacjenta</th>
			        <th>Nazwisko Pacjenta</th>
			        <th>Imię Lekarza</th>
			        <th>Nazwisko Lekarza</th>
			        <th>Data Wizyty</th>
			        <th>Usuń Wizytę</th>	        
	    		</tr>
    		</thead>
      		<tbody >
	      		<c:forEach varStatus="loop" items="${visit}" var="visits" >
					<tr >
			      		<td>${loop.index+1}.</td>
			      	    <td>${visits.patient.name}</td>   
			      	    <td>${visits.patient.surname}</td>  
			      	    <td>${visits.users.name}</td>    
			      	    <td>${visits.users.surname}</td> 
			      	    <td>${visits.visit_date}</td>
			      	    <td><input type ="button" value = "Wizyta" onclick="window.location='/visit/visitForPatient/${visits.patient.id}';"/></td>
			      	    <td><input type ="button" value = "Usuń" onclick="window.location='/visit/delateVisit/${visits.id}';"/></td>
					</tr> 
				</c:forEach>
			</tbody>
		</table>
	</div>
</section>
</body>
</html>